@switch (variant) {
  @case ('icon') {
    <button mat-icon-button
            [class.ui-btn--full]='fullWidth'
            [color]='color'
            [disabled]='isDisabled'
            [attr.type]='type'
            [matTooltip]='tooltip || ""'
            [matTooltipDisabled]='!tooltip'>
      @if (loading) {
        <mat-progress-spinner mode='indeterminate' diameter='18'></mat-progress-spinner>
      } @else {
        <mat-icon>{{ icon || 'bolt' }}</mat-icon>
      }
    </button>
  }
  @case ('stroked') {
    <button mat-stroked-button
      [attr.type]='type'
      [disabled]='isDisabled'
      [color]='color'
      [class.ui-btn--full]='fullWidth'
      [matTooltip]='tooltip || ""'
      [matTooltipDisabled]='!tooltip'>
      @if (loading) {
        <mat-progress-spinner mode='indeterminate' diameter='18'></mat-progress-spinner>
      } @else {
        @if (icon) { <mat-icon class='ui-btn__icon'>{{ icon }}</mat-icon> }
        <ng-container>{{ label }}</ng-container>
      }
    </button>
  }
  @case ('raised') {
    <button mat-raised-button
      [attr.type]='type'
      [disabled]='isDisabled'
      [color]='color'
      [class.ui-btn--full]='fullWidth'
      [matTooltip]='tooltip || ""'
      [matTooltipDisabled]='!tooltip'>
      @if (loading) {
        <mat-progress-spinner mode='indeterminate' diameter='18'></mat-progress-spinner>
      } @else {
        @if (icon) { <mat-icon class='ui-btn__icon'>{{ icon }}</mat-icon> }
        <ng-container>{{ label }}</ng-container>
      }
    </button>
  }
  @default {
    <button mat-flat-button
      [attr.type]='type'
      [disabled]='isDisabled'
      [color]='color'
      [class.ui-btn--full]='fullWidth'
      [matTooltip]='tooltip || ""'
      [matTooltipDisabled]='!tooltip'>
      @if (loading) {
        <mat-progress-spinner mode='indeterminate' diameter='18'></mat-progress-spinner>
      } @else {
        @if (icon) { <mat-icon class='ui-btn__icon'>{{ icon }}</mat-icon> }
        <ng-container>{{ label }}</ng-container>
      }
    </button>
  }
}
