<app-ui-modal
  [title]="isEdit ? 'Edit User' : 'Create User'"
  [subtitle]="isEdit ? 'Update user information' : 'Add a new user'"
  [icon]="isEdit ? 'edit' : 'person_add'"
  [primaryText]="loading ? 'Saving...' : (isEdit ? 'Update' : 'Create')"
  [secondaryText]="'Cancel'"
  [primaryDisabled]="loading || form.invalid"
  [showClose]="true"
  [showFooter]="true"
  (primaryClick)="save()"
  (secondaryClick)="close()"
  (closeClick)="close()"
>
  <form class="user-dialog__body" [formGroup]="form">
    <ui-dynamic-form
      [formGroup]="form"
      [fields]="fields"
    ></ui-dynamic-form>
  </form>
</app-ui-modal>