<div class='dlg'>
  <div class='dlg__title'>
    <mat-icon>{{ isEdit ? 'edit' : 'person_add' }}</mat-icon>
    <span>{{ isEdit ? 'Edit User' : 'Create User' }}</span>
  </div>

  <form class='dlg__body' [formGroup]='form'>
    <ui-dynamic-form [formGroup]='form' [fields]='fields'></ui-dynamic-form>
  </form>

  <div class='dlg__actions'>
    <button mat-stroked-button (click)='close()'>Cancel</button>
    <button mat-flat-button color='primary' (click)='save()' [disabled]='loading'>
      {{ loading ? 'Saving...' : (isEdit ? 'Update' : 'Create') }}
    </button>
  </div>
</div>
