<div class='ui-dynamic-form' [formGroup]='formGroup'>
  @for (field of fields; track field.key) {
    @switch (field.type) {
      @case ('textarea') {
        <mat-form-field appearance='outline'>
          <mat-label>{{ field.label }}</mat-label>
          <textarea matInput [formControlName]='field.key' [placeholder]='field.placeholder || ""' rows='4'></textarea>
          @if (field.hint) { <mat-hint>{{ field.hint }}</mat-hint> }
        </mat-form-field>
      }
      @case ('select') {
        <mat-form-field appearance='outline'>
          <mat-label>{{ field.label }}</mat-label>
          <mat-select [formControlName]='field.key'>
            @for (opt of field.options || []; track opt.label) {
              <mat-option [value]='opt.value'>{{ opt.label }}</mat-option>
            }
          </mat-select>
          @if (field.hint) { <mat-hint>{{ field.hint }}</mat-hint> }
        </mat-form-field>
      }
      @case ('checkbox') {
        <mat-checkbox [formControlName]='field.key'>{{ field.label }}</mat-checkbox>
      }
      @case ('toggle') {
        <mat-slide-toggle [formControlName]='field.key'>{{ field.label }}</mat-slide-toggle>
      }
      @default {
        <mat-form-field appearance='outline'>
          <mat-label>{{ field.label }}</mat-label>
          <input matInput [type]='field.type' [formControlName]='field.key' [placeholder]='field.placeholder || ""' />
          @if (field.hint) { <mat-hint>{{ field.hint }}</mat-hint> }
        </mat-form-field>
      }
    }
  }
</div>
