<div class="ui-dynamic-form__grid" [formGroup]="formGroup">
  @for (field of fields; track field.key) {
    <div
      class="ui-dynamic-form__col"
      [ngClass]="getColSpanClass(field.colSpan)"
    >
      @switch (field.type) {
        @case ('text') {
          <ui-input
            [control]="$any(formGroup.get(field.key))"
            [label]="field.label"
            [placeholder]="field.placeholder || null"
            [hint]="field.hint || null"
            [required]="field.required || false"
            type="text"
          />
        }

        @case ('email') {
          <ui-input
            [control]="$any(formGroup.get(field.key))"
            [label]="field.label"
            [placeholder]="field.placeholder || null"
            [hint]="field.hint || null"
            [required]="field.required || false"
            type="email"
          />
        }

        @case ('password') {
          <ui-input
            [control]="$any(formGroup.get(field.key))"
            [label]="field.label"
            [placeholder]="field.placeholder || null"
            [hint]="field.hint || null"
            [required]="field.required || false"
            type="password"
          />
        }

        @case ('number') {
          <ui-input
            [control]="$any(formGroup.get(field.key))"
            [label]="field.label"
            [placeholder]="field.placeholder || null"
            [hint]="field.hint || null"
            [required]="field.required || false"
            type="number"
          />
        }

        @case ('select') {
          <ui-select
            [control]="$any(formGroup.get(field.key))"
            [label]="field.label"
            [options]="field.options || []"
            [hint]="field.hint || null"
            [required]="field.required || false"
          />
        }

        @case ('textarea') {
          <ui-textarea
            [control]="$any(formGroup.get(field.key))"
            [label]="field.label"
            [placeholder]="field.placeholder || null"
            [hint]="field.hint || null"
            [required]="field.required || false"
            [rows]="field.rows || 3"
          />
        }

        @case ('toggle') {
          <ui-toggle
            [control]="$any(formGroup.get(field.key))"
            [label]="field.label"
          />
        }
      }
    </div>
  }
</div>