@use '@angular/material' as mat;

$primary: mat.m2-define-palette(mat.$m2-indigo-palette, 600);
$accent: mat.m2-define-palette(mat.$m2-blue-palette, 600);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (primary: $primary, accent: $accent, warn: $warn),
  typography: mat.m2-define-typography-config(),
  density: 0
));

@include mat.all-component-themes($theme);

:root {
  --app-bg: #f3f5f7;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--app-bg);
  font-family: Inter,Roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.page-container {
  padding: 16px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
}

.breadcrumb-bar {
  margin-bottom: 5px;
}
.mat-mdc-form-field {
  width: 100%;
}