<nav class="bc" *ngIf="(breadcrumbs$ | async) as crumbs">
  <ng-container *ngIf="(activeModule$ | async) as active">
    <div class="bc-card">
      <mat-icon class="bc-home-icon">home</mat-icon>

      <ol class="bc-list" aria-label="Breadcrumb">
        <li class="bc-item" *ngFor="let c of crumbs; let i = index; trackBy: trackByIndex">

          <!-- clickable crumb (not last) -->
          <a
            *ngIf="i < crumbs.length - 1"
            class="bc-link"
            href="{{ c.url || '#' }}"
            (click)="onCrumbClick(c, i, active, $event)"
          >
            <span class="bc-text">{{ c.label }}</span>
          </a>

          <!-- last crumb (active) -->
          <span *ngIf="i === crumbs.length - 1" class="bc-current">
            {{ c.label }}
          </span>

          <!-- separator -->
          <mat-icon class="bc-sep" *ngIf="i < crumbs.length - 1">chevron_right</mat-icon>
        </li>
      </ol>
    </div>
  </ng-container>
</nav>
