.ui-field { width: 100%; }

:host ::ng-deep .ui-select-panel.mat-mdc-select-panel {
  max-width: min(92vw, 480px);
  width: 100%;
}

:host ::ng-deep .ui-select-panel .mat-mdc-option { min-height: 44px; }
